<footer class="w-full border-t">
    <div class="container flex items-center justify-center gap-4 md:h-24 md:flex-row">
        <p class="text-center text-sm leading-loose text-muted-foreground md:text-left">
            Built by
            <a href="https://github.com/atikur0786/atikur0786" target="_blank" rel="noreferrer"
                class="font-medium underline underline-offset-4">
                Atikur
            </a>
            . with
            <span class="text-red-500">❤️</span>
            using Angular and Tailwind CSS.
        </p>
    </div>
    <p class="text-xs text-center h-8">
        © 2024 · Crafted with ♥️. All rights reserved.
    </p>
</footer>