<div class="w-full max-w-6xl mx-auto my-8">
    <a routerLink="/" class="flex justify-start items-center gap-3 text-sm" title="Home">
        <mat-icon>keyboard_return</mat-icon>
        <span>Go Home</span>
    </a>
</div>
<!-- Work Experience Info -->
<div
    class="rounded-lg border bg-card text-card-foreground card-animate w-full max-w-6xl mx-auto my-8 overflow-hidden p-6 shadow-lg hover:border-primary">
    <div class="flex items-center gap-3">
        <mat-icon>work</mat-icon>
        <h1 class="text-2xl font-bold">Work Experiences</h1>
    </div>

    <!-- Divider Line -->
    <div class="border-b-2 border-gray-300 my-2"></div>
    <!-- Step 1 -->
    <div class="step mt-2">
        <div class="flex items-center space-x-4">
            <img src="assets/images/jukshio-logo.svg" alt="Jukshio Logo"
                class="w-12 h-12 object-scale-down rounded-full border-2 border-gray-400">
            <div>
                <h3 class="text-lg font-semibold">Jukshio Technology Innovation Private Limited</h3>
                <p class="text-sm text-gray-500 dark:text-white/90">Full Time</p>
                <p class="text-sm text-gray-500 dark:text-white/90">Dec 2021 - Present</p>
                <p class="text-xs text-gray-500 dark:text-white/90">Hyderabad, India 🇮🇳</p>
            </div>
        </div>
        <div class="pl-16 mt-4">
            <h4 class="text-md font-bold">Description</h4>
            <p class="text-gray-700 dark:text-white/70">
                AI-reliable face recognition platform for total fraud detection & compliance
            </p>

            <h4 class="text-md font-bold mt-4">Role & Responsibilities</h4>
            <p class="text-sm text-gray-500 dark:text-white/90">Research & Development Engineer I</p>
            <p><strong>Key Responsibilities</strong></p>
            <ul class="list-inside list-disc text-gray-700 dark:text-white/70">
                <li>Lead the development of a learning platform, contributing to the company's technological
                    advancement.</li>
                <li>Actively engaged in perpetual learning, consistently adapting to emerging technologies.</li>
                <li>Successfully transitioned to leading demo projects, delivering approximately 16 projects from
                    inception to completion within a single year.</li>
                <li>Showcased technical proficiency, particularly in Angular, to present compelling solutions to
                    potential clients.</li>
                <li>Implemented Google Auth social login and Microsoft login for all internal dashboards, enhancing
                    security and user authentication.</li>
                <li>Led the development of APIs for a new curation dashboard dedicated to machine learning model
                    training, contributing to the company's technological advancement.</li>
                <li>Successfully orchestrated the migration of the Node.js code base from Google Cloud Platform (GCP) to
                    Azure,
                    showcasing adaptability in cloud platforms.</li>
                <li>Led the development of APIs for a new curation dashboard dedicated to machine learning model
                    training,
                    contributing to the company's technological advancement.</li>
            </ul>
            <h4 class="text-md font-bold mt-4">Technologies Used</h4>
            <ul class="list-inside list-disc text-gray-700 dark:text-white/70">
                <li>JavaScript</li>
                <li>Typescript</li>
                <li>Angular</li>
                <li>React JS</li>
                <li>Bootstrap</li>
                <li>Material</li>
                <li>Tailwind CSS</li>
                <li>Node JS</li>
                <li>Express JS</li>
                <li>PostgresSQL</li>
                <li>Git</li>
                <li>Gitlab</li>
                <li>Github</li>
                <li>VS Code</li>
                <li>Webstrom</li>
            </ul>
        </div>
    </div>

    <!-- Divider Line -->
    <div class="border-l-2 border-gray-300 h-12 ml-16"></div>

    <!-- Step 2 -->
    <div class="step">
        <div class="flex items-center space-x-4">
            <img src="assets/images/sukshi-logo.png" alt="Sukshi Logo"
                class="w-12 h-12 rounded-full border-2 border-gray-400">
            <div>
                <h3 class="text-lg font-semibold">Sukshi Academy</h3>
                <p class="text-sm text-gray-500 dark:text-white/90">Intern</p>
                <p class="text-sm text-gray-500 dark:text-white/90">Aug 2021 - Nov 2021</p>
                <p class="text-xs text-gray-500 dark:text-white/90">Hyderabad, India 🇮🇳</p>
            </div>
        </div>
        <div class="pl-16 mt-4">
            <h4 class="text-md font-bold">Description</h4>
            <p class="text-gray-700 dark:text-white/70">SukShi collaborates with high achievers who possess a strong
                sense of empathy, enabling them to connect with their true purpose and equipping them with the tools to
                live that purpose and scale it to create a significant social impact using capitalistic method.</p>
            <p class="text-gray-700 dark:text-white/70">Every enterprise born from the SukShi ecosystem is geared toward
                market-comparable profits while allocating over half of its revenue to fostering social impact.</p>
            <h4 class="text-md font-bold mt-4">Role & Responsibilities</h4>
            <p class="text-sm text-gray-500 dark:text-white/90">Fullstack Developer Intern</p>
            <ul class="list-inside list-disc text-gray-700 dark:text-white/70">
                <li>
                    <strong>Intern at Sukshi:</strong>
                    My four-month internship at Sukshi highlighted their strong commitment to fostering a supportive and
                    learning-oriented environment, especially for new students entering the IT field. This was evident
                    in
                    the guidance and opportunities provided throughout the program.
                </li>
                <li>
                    <strong>Internship Project:</strong>
                    My key project focused on developing a software application for integration into retail shop
                    screens. This customer-facing application assists with product placement inquiries by identifying
                    the item's exact location through voice interaction and displaying relevant information on the
                    screen.
                </li>
                <li>
                    <strong>Cross-functional Collaboration:</strong>
                    Successfully collaborated with a diverse team of frontend, backend, machine
                    learning, and DevOps engineers to design and implement an innovative retail application.
                </li>
                <li>
                    <strong>UI/UX Design & Development:</strong>
                    Led the design and implementation of the Android application UI, prioritizing an
                    intuitive and user-friendly experience for customers.
                </li>
                <li>
                    <strong>API Integration Expertise:</strong>
                    Seamlessly integrated various APIs to enhance application functionality and
                    facilitate smooth communication between frontend and backend systems.
                </li>
                <li>
                    <strong>Problem-solving & Teamwork:</strong>
                    Demonstrated effective collaboration with team members, proactively
                    troubleshooting issues, optimizing code, and ensuring the application met high performance
                    standards.
                </li>
                <li>
                    <strong>Technical Skill Development:</strong>
                    Achieved practical experience in frontend development, API integration, and
                    valuable teamwork skills, culminating in the successful completion of a comprehensive internship
                    project.
                </li>
            </ul>
            <h4 class="text-md font-bold mt-4">Technologies Used</h4>
            <ul class="list-inside list-disc text-gray-700 dark:text-white/70">
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Bootstrap</li>
                <li>JavaScript</li>
                <li>VS Code</li>
            </ul>
        </div>
    </div>
</div>

<!-- Education Info -->
<div
    class="rounded-lg border bg-card text-card-foreground card-animate w-full max-w-6xl mx-auto my-8 overflow-hidden p-6 shadow-lg hover:border-primary">
    <div class="flex items-center gap-3">
        <mat-icon>school</mat-icon>
        <h1 class="text-2xl font-bold">Education Details</h1>
    </div>
    <!-- Divider Line -->
    <div class="border-b-2 border-gray-300 my-2"></div>
    <!-- Step 1 -->
    <div class="step mt-2">
        <div class="flex items-center space-x-4">
            <img src="assets/images/university-of-burdwan-logo.png" alt="Burdwan Logo"
                class="w-12 h-12 object-scale-down rounded-full border-2 border-gray-400 p-1">
            <div>
                <h3 class="text-lg font-semibold">Bachelors of Computer Science(B.Sc)</h3>
                <p class="text-sm text-gray-500 dark:text-white/90">July 2018 - July 2021</p>
                <p class="text-xs text-gray-500 dark:text-white/90">Burdwan, India 🇮🇳</p>
            </div>
        </div>
        <div class="pl-16 mt-4">
            <h4 class="text-md font-bold">Description</h4>
            <p class="text-gray-700 dark:text-white/70">
                A Bachelor of Science in Computer Science is typically a three-year undergraduate program that combines
                general education courses with specialized computer science coursework in areas such as programming,
                computer networking, and operating systems. The curriculum is designed to provide students with a strong
                foundation in both theoretical and practical aspects of computing and technology.
            </p>
        </div>
    </div>
    <!-- Step 2 -->
    <div class="step mt-2">
        <div class="flex items-center space-x-4">
            <img src="assets/images/West_Bengal_Council_of_Higher_Secondary_Education_Logo.png" alt="Burdwan Logo"
                class="w-12 h-12 object-scale-down rounded-full border-2 border-gray-400 p-1">
            <div>
                <h3 class="text-lg font-semibold">Higher Secondary Education(WBCHSE)</h3>
                <p class="text-sm text-gray-500 dark:text-white/90">July 2018 - July 2021</p>
                <p class="text-xs text-gray-500 dark:text-white/90">Burdwan, India 🇮🇳</p>
            </div>
        </div>
        <div class="pl-16 mt-4">
            <h4 class="text-md font-bold">Description</h4>
            <p class="text-gray-700 dark:text-white/70">
                The West Bengal Council of Higher Secondary Education (WBCHSE) is responsible for regulating and
                conducting the higher secondary examinations in the state of West Bengal. Established in 1975, it
                supports students in their educational journey by providing resources and overseeing academic standards.
            </p>
        </div>
    </div>
</div>

<!-- Certificate Info -->
<div
    class="rounded-lg border bg-card text-card-foreground card-animate w-full max-w-6xl mx-auto my-8 overflow-hidden p-6 shadow-lg hover:border-primary">
    <div class="flex items-center gap-3">
        <mat-icon>workspace_premium</mat-icon>
        <h1 class="text-2xl font-bold">Certificates</h1>
    </div>
    <!-- Divider Line -->
    <div class="border-b-2 border-gray-300 my-2"></div>
    <!-- Step 1 -->
    <div class="step mt-2">
        <div class="flex items-center space-x-4">
            <img src="assets/images/namaste-dev-logo.png" alt="Namaste Dev Logo"
                class="w-12 h-12 object-scale-down rounded-full border-2 border-gray-400 p-1">
            <div>
                <h3 class="text-lg font-semibold">Namaste React Course</h3>
                <a href="https://namastedev.com/" class="text-sm text-blue-500 hover:underline">Namaste
                    Dev</a>
                <p class="text-sm text-gray-500 dark:text-white/90">Aug 2023</p>
            </div>
        </div>
        <div class="pl-16 mt-4">
            <h4 class="text-md font-bold">Description</h4>
            <p class="text-gray-700 dark:text-white/70">
                In depth React course by Namaste React by Akshay Saini. This course is a comprehensive guide to React JS
                and its core concepts. It covers everything from the basics of React to advanced topics like state
                management, routing, and performance optimization.
            </p>
        </div>
    </div>
    <!-- Step 2 -->
    <div class="step mt-2">
        <div class="flex items-center space-x-4">
            <img src="assets/images/simplelearn-logo.jpeg" alt="Simplelearn Logo"
                class="w-12 h-12 object-scale-down rounded-full border-2 border-gray-400 p-1">
            <div>
                <h3 class="text-lg font-semibold">Angular Basics</h3>
                <a href="https://www.simplilearn.com/" class="text-sm text-blue-500 hover:underline">Simplilearn</a>
                <p class="text-sm text-gray-500 dark:text-white/90">Oct 2022</p>
            </div>
        </div>
        <div class="pl-16 mt-4">
            <h4 class="text-md font-bold">Description</h4>
            <p class="text-gray-700 dark:text-white/70">
                Angular Basics course by Simple Learn. This course is a comprehensive guide to Angular and its core
                concepts. It covers everything from the basics of Angular to advanced topics like two way data binding,
                forms, decorators, routing, and performance optimization.
            </p>
        </div>
    </div>
    <!-- Step 3 -->
    <div class="step mt-2">
        <div class="flex items-center space-x-4">
            <img src="assets/images/simplelearn-logo.jpeg" alt="Simplelearn Logo"
                class="w-12 h-12 object-scale-down rounded-full border-2 border-gray-400 p-1">
            <div>
                <h3 class="text-lg font-semibold">Getting Started with Node JS</h3>
                <a href="https://www.simplilearn.com/" class="text-sm text-blue-500 hover:underline">Simplilearn</a>
                <p class="text-sm text-gray-500 dark:text-white/90">Oct 2022</p>
            </div>
        </div>
        <div class="pl-16 mt-4">
            <h4 class="text-md font-bold">Description</h4>
            <p class="text-gray-700 dark:text-white/70">
                Node JS course by Simple Learn. This course is a comprehensive guide to Node JS and its core concepts.
                It covers everything from the basics of Node JS to advanced topics like creating a basic server and host
                it to a local server. Add routing and create APIs. Perform CRUD operations like create, read, update and
                delete.
            </p>
        </div>
    </div>
    <!-- Step 4 -->
    <div class="step mt-2">
        <div class="flex items-center space-x-4">
            <img src="assets/images/simplelearn-logo.jpeg" alt="Simplelearn Logo"
                class="w-12 h-12 object-scale-down rounded-full border-2 border-gray-400 p-1">
            <div>
                <h3 class="text-lg font-semibold">Javascript for Beginners</h3>
                <a href="https://www.simplilearn.com/" class="text-sm text-blue-500 hover:underline">Simplilearn</a>
                <p class="text-sm text-gray-500 dark:text-white/90">Oct 2022</p>
            </div>
        </div>
        <div class="pl-16 mt-4">
            <h4 class="text-md font-bold">Description</h4>
            <p class="text-gray-700 dark:text-white/70">
                Javascript for Beginners course by Simple Learn. This course is a comprehensive guide to Javascript. It
                covers everything from the basics of Javascript to advanced topics like what is a variable, what is a
                function, what is an array, what is an object, what is a class, what is a constructor, what is a
                prototype etc.
            </p>
        </div>
    </div>
    <!-- Step 5 -->
    <div class="step mt-2">
        <div class="flex items-center space-x-4">
            <img src="assets/images/udemy-logo.png" alt="Udemy Logo"
                class="w-12 h-12 object-scale-down rounded-full border-2 border-gray-400 p-1">
            <div>
                <h3 class="text-lg font-semibold">Nest Js Zero - Hero Modern Typescript Back-end Development</h3>
                <a href="https://www.udemy.com/" class="text-sm text-blue-500 hover:underline">Udemy</a>
                <p class="text-sm text-gray-500 dark:text-white/90">Oct 2022</p>
            </div>
        </div>
        <div class="pl-16 mt-4">
            <h4 class="text-md font-bold">Description</h4>
            <p class="text-gray-700 dark:text-white/70">
                Nest Js Zero - Hero Modern Typescript Back-end Development course by Udemy. This course is a
                comprehensive guide to Nest JS and its core concepts. It covers everything from the basics of Nest JS to
                advanced topics like creating a basic server and host it to a local server. Add routing and create APIs.
                Perform CRUD operations like create, read, update and delete.
            </p>
        </div>
    </div>
</div>