<div
    class="rounded-lg border bg-card text-card-foreground card-animate w-full max-w-6xl mx-auto my-8 overflow-hidden p-6 shadow-lg relative hover:border-primary">
    <a [href]="repo.html_url" target="_blank">
        <h4 class="text-lg font-bold mb-5">{{ id }}. {{ repo.name }}</h4>
        @if (repo.description) {
        <p class="text-sm text-gray-600 mb-5">{{ repo.description }}</p>
        } @else {
        <p class="text-sm text-gray-600 mb-5">No Description Found</p>
        }
        <div class="flex items-center overflow-x-auto">
            @for (topic of repo.topics; track $index) {
            <div class="mr-2">
                <button class="bg-primary text-white px-2 py-1 rounded text-nowrap">{{ topic }}</button>
            </div>
            }
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-square-arrow-out-up-right group-hover:text-primary position absolute top-4 right-4 hover:text-primary">
            <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"></path>
            <path d="m21 3-9 9"></path>
            <path d="M15 3h6v6"></path>
        </svg>
    </a>
</div>